$black: #000000;
$green: #099a35;
$white: #ffffff;

.Header__navbar {
    background-color: $green;
    a {
        color: $white;
    }
    a:hover {
        color: $white;
        transition: 0.25s;
    }
    
}

